{% extends "website/dashboard/dashboard.html" %}
{% load static %}
{% block dashboard_app %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <!-- Button per aprire il form -->
    <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#addGalleryForm" aria-expanded="false" aria-controls="addImageForm">
        <i class="fa-solid fa-plus"></i>
    </button>


    <!-- Form per l'aggiunta di un'immagine (nascosto per default) -->
    <div class="collapse mt-3 w-100" id="addGalleryForm">
        <form action="{% url 'website:add_gallery' %}" method="post" >
            {% csrf_token add_gallery_csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Aggiungi</button>
        </form>
    </div>
    
    <!-- Lista delle immagini -->
    <div id="gallery-list" class="col-12 p-5 ">
        {% if galleries %}
            <h2> Lista delle gallerie </h2>
            <ul class="list-unstyled">
                {% for gallery in galleries %}
                    <li class="mb-4 p-3">
                        <div class="d-flex align-items-center justify-content-around card">
                            <div class="">
                                <h5> Nome: {{ gallery.name }}</h5>
                                <form action="{% url 'website:delete_gallery' gallery.id %}" method="post" style="display: inline;">
                                    {% csrf_token delete_gallery_csrf_token %}
                                    <button type="submit" class="btn btn-danger">Elimina</button>
                                </form>
                                <p> Eliminando la galleria si eliminano tutte le foto legate ad essa. </p>
                            </div>
                            
                            {% if gallery.get_images %}
                            <div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{gallery.name}}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <div class="carousel slide carousel-fade" data-bs-interval="false"  id="carousel{{gallery.name}}">
                                    <div class="carousel-inner">
                                        {% for img in gallery.get_images %}
                                            <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                                {{ img.show_image }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel{{gallery.name}}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            {% else %}
                                <p> Non ci sono foto in questa galleria.
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Non sono presenti gallerie al momento.</p>
        {% endif %}
    </div>
</div> 
<style>
/* Personalizza il colore delle frecce del carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
     filter: invert(1); /* Cambia il colore delle frecce a nero */
}
</style>
{% endblock dashboard_app %}