{% extends "website/dashboard/dashboard.html" %}
{% load static %}
{% block dashboard_app %}
                   
<div class="d-flex flex-column justify-content-center align-items-center">
    <!-- Button per aprire il form -->
    <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#addImageForm" aria-expanded="false" aria-controls="addImageForm">
        <i class="fa-solid fa-plus"></i>
    </button>

    <!-- Nel tuo template 'website/dashboard/image_page.html' -->
    <div class="collapse mt-3 w-100" id="addImageForm">
        <form action="{% url 'website:add_image' %}" method="post" enctype="multipart/form-data">
            {% csrf_token add_image_csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Aggiungi</button>
        </form>
    </div>

    <!-- Lista delle immagini -->
    <div id="image-list" class="col-12 p-5 ">
        {% if images %}
            <h2> Lista delle immagini </h2>
            <ul  class="list-unstyled">
                {% for image in images %}
                    <li class="mb-4 p-3">
                        <div class="d-flex">
                            <!-- Immagine a sinistra -->
                            <div class="col-md-4">
                                <img src="{{ image.img.url }}" alt="{{ image.description }}" style="max-width: 100px; height: auto;">
                            </div>
                            <!-- Dettagli e form a destra -->
                            <div class="col-md-6">
                                <div>
                                    <p>Nome: {{ image.description }}</p>
                                    <p>Galleria: {{ image.gallery }}</p>
                                </div>
                                <form action="{% url 'website:delete_image' image.id %}" method="post" style="display: inline;">
                                    {% csrf_token delete_image_csrf_token %}
                                    <button type="submit" class="btn btn-danger">Elimina</button>
                                </form>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Non sono presenti immagini al momento.</p>
        {% endif %}
    </div>
</div> 


{% endblock dashboard_app %}