{% extends "website/dashboard/dashboard.html" %}
{% load static %}
{% block dashboard_app %}
<div class="container mt-5">
    <div class="row">
        <h1>Elenco delle sottoscrizioni</h1>
        <ul class="list-group mt-4">
            {% for push_info in push_infos %}
                <!-- Utilizza la classe "list-group-item" di Bootstrap per ogni elemento della lista -->
                <li class="list-group-item d-flex justify-content-between align-items-center">
                   <strong>User:</strong> {{ push_info.user }}  <strong>Subscription:</strong> {{ push_info.subscription }}  <strong>Group:</strong> {{ push_info.group }}
                </li>
            {% endfor %}
        </ul>
        
    </div>
</div>
{% endblock dashboard_app %}