<!-- logging_app/templates/logging_app/list.html -->

{% extends "backoffice/backoffice_base.html" %}
{% load static %}

{% block dashboard_app %}
<!-- Aggiungi il tuo codice HTML personalizzato qui -->
<div class="row">
    <!-- Colonna per la lista dei log -->
    <div class="col-md-6">
      <div>
          <h3>Access Logs</h3>
          <ul>
              {% for log in accesslogs %}
              <li> {{ log.id }} <a href="{% url 'goldBI:access_log_detail' log.id %}">{{ log.timestamp }}</a> {{ log.request_method }} {{ log.response_code }} {{ log.request_path }}  </li>
              {% endfor %}
          </ul>
      </div>
    </div>
    
    <div class="col-md-6">
      <div>
          <h3>Error Logs</h3>
          <ul>
              {% for log in errorlogs %}
              <li> {{ log.id }} <a href="{% url 'goldBI:error_log_detail' log.id %}">{{ log.timestamp }}</a>  {{ log.request_method }} {{ log.response_code }} {{ log.request_path }}</li>
              {% endfor %}
          </ul>
      </div>
    </div>

</div>
{% endblock %}
