server {
    listen 80;
    server_name IP;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/USER/PROJECTDIR/src;
    }

    location /media/ {
        root /home/USER/PROJECTDIR/src;
    }

    location / {
        include proxy_params;
        proxy_redirect off;
        client_max_body_size 1000M;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}