[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=USER
Group=www-data
WorkingDirectory=/home/USER/PROJECTDIR
ExecStart=/home/USER/PROJECTDIR/env_dj/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          base.wsgi:application

[Install]
WantedBy=multi-user.target